
body {
  background-color: rgb(229, 229, 217);
}

h1 {
  font-family: 'Sriracha', cursive;
  color: rgba(205, 56, 81, 0.834);
}

#header {
  margin-left: 10%;
}

blockquote {
  font-family: 'Sriracha', cursive;
  color: rgba(205, 56, 81, 0.45);
}

hr {
  border-top: 1.5px solid rgba(205, 56, 81, 0.45);
  width: 90vw;
}
